<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>app</title>
</head>
<body>
    <form action="/submit" method="POST">
        <div class="form-group">
            <button class="button" style="vertical-align:middle" type="submit" value="Submit"><span>Submit </span></button>
            <select name="bodys" id="list_select" value="choose">
                <option id="list_select_op_1" value="RK_2">RK_2</option>
                <option id="list_select_op_2" value="RK_4">RK_4</option>
                <option id="list_select_op_3" value="RK_45">RK_45</option> 
            </select>
        </div>
        <div id='info_section'>
            <p>{{ data }}</p>
        </div>
    </form>
    <script src="/static/main.js"></script>
</body>
</html>
